.footer {
    position: absolute;
    height: 80px;
    width: 100%;
    bottom: -2%;
    /* width: 100%;
    min-height: 100%;
    height: auto !important;
    height: 10%;
    margin: 0 auto -60px; */
}
